extends layout

block content
    link(rel='stylesheet', href='/stylesheets/vendor/flatpickr.min.css')
    script(src='/javascripts/vendor/flatpickr.min.js')
    script(src='/javascripts/vendor/moment.js')
    link(href='/stylesheets/vendor/select2.min.css', rel='stylesheet')
    link(href='/stylesheets/vendor/select2-bootstrap.min.css', rel='stylesheet')

    main.container(role="main")
        .container.theme-showcase
            .page-header
                if toEditSprint
                    h3 Edit Sprint
                if !toEditSprint
                    h3 Create new Sprint
                .container
                    nav.navbar.navbar-expand-lg.navbar-light.bg-light
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link(href='/sprints')
                                    i.fas.fa-chevron-left
                                    |   Sprints
                hr
            div.main.container
                .row
                    if errorMessages !== 0
                        .col-md-12.col-md-offset-0.margin-top20
                            .alert.alert-danger(role="alert")
                                h4.alert-heading #{errorMessages}
                                p Something went wrong. Please check if your form is correct - otherwise try later or contact application administrator.

                    if defined_sprints
                        .col-md-12.col-md-offset-0.margin-top20
                            .alert.alert-warning(role="alert")
                                h4.alert-heading Already defined sprints
                                each s in defined_sprints
                                    li #{moment(s.startDate,'YYYY-MM-DD').format("DD.MM.YYYY") + " to " + moment(s.endDate,'YYYY-MM-DD').format("DD.MM.YYYY")}

                    if success !== 0
                        .col-md-12.col-md-offset-0.margin-top20
                            .alert.alert-success(role="alert")
                                h4.alert-heading Success.
                                p New sprint has been successfully added.

                    div.col-md-9.col-md-offset-0.margin-center.margin-top20
                        div.panel-body
                            div
                                form.well.form-horizontal(method='POST' action=(toEditSprint ? '/sprints/'+ toEditSprint.id + '/edit/' : '/sprints/create'))#sprint_form
                                    div.panel-body
                                        div.col-md-12.col-md-offset-0
                                            div.form-group
                                                label Date range
                                                input.form-control#flatpickr-tryme(type='text' name="selected_date", placeholder="Start date to end date"
                                                value=(toEditSprint ? toEditSprint.startDate + ' to ' + toEditSprint.endDate : ''))
                                            div.form-group
                                                label(for='velocity') Sprint velocity
                                                input#velocity.form-control(name="velocity" type='number', placeholder='Sprint velocity'
                                                value=(toEditSprint ? toEditSprint.velocity : ''))
                                            div.form-group
                                                label(for='sprint_project') Sprint project
                                                select#sprint_project.form-control(name="sprint_project", placeholder='Sprint project')
                                                    option
                                                    each project in projects
                                                        if(toEditSprint)
                                                            option(label=project.name selected=(toEditSprint.project_id===project.id)) #{project.id}
                                                        else
                                                            option(label=project.name) #{project.id}
                                            div.form-group
                                                label Sprint stories
                                                select#sprint_stories.form-control(name='stories', multiple='multiple' placeholder='Sprint stories')
                                                    if(toEditSprint)
                                                        each story in stories
                                                            option(value=story.id estTime=story.estimatedTime  selected=(story.sprint_id === currentSprint.id)) #{story.name}
                                            if !toEditSprint
                                                button.btn.btn-primary.center-block.margin-top20#createBtn(type='submit') Create
                                            if toEditSprint
                                                button.btn.btn-primary.center-block.margin-top20#updateBtn(type='submit') Update
    div#start_date(style='display:none;')
        if(toEditSprint)
            #{toEditSprint.startDate}
    div#end_date(style='display:none;')
        if(toEditSprint)
            #{toEditSprint.endDate}
    div#sprint_id(style='display:none;')
        if(toEditSprint)
            #{toEditSprint.id}




    script.

        function sum_stories_time(){
            var selected_stories = $("#sprint_stories").select2("data");
            var estTime_sum = 0;
            for (var i = 0; i < selected_stories.length; i++) {
                var estTime = selected_stories[i].element.getAttribute("estTime");
                estTime_sum += parseInt(estTime);
            }
            return estTime_sum;

        }

        window.addEventListener('load', function () {
            $(document).ready(function ($) {
                var start_date      = $("#start_date").text().replace("<","").replace(">","");
                var end_date        = $("#end_date").text().replace("<","").replace(">","");
                var sprint_id       = $("#sprint_id").text().replace("<", "").replace(">", "");


                if (start_date) {
                    var e_formated = moment(end_date, 'YYYY-MM-DD').format("DD.MM.YYYY");
                    var s_formated = moment(start_date, 'YYYY-MM-DD').format("DD.MM.YYYY");
                    flatpickr("#flatpickr-tryme", {
                        mode: "range",
                        minDate: new Date().fp_incr(1),
                        dateFormat: "d.m.Y",
                        defaultDate: [s_formated,e_formated]
                    });
                } else {
                    flatpickr("#flatpickr-tryme", {
                        mode: "range",
                        minDate: "today",
                        dateFormat: "d.m.Y"
                    });
                }

                $("#updateBtn").click(function () {
                    const select = document.querySelector("select[name='stories']")
                    const value = select.value;
                    const option = select.querySelector(`option[value='${value}']`)
                });

                $("#sprint_project").change(function () {
                    var project_id = $("#sprint_project").val();
                    if(project_id==null)return
                    $.ajax({
                        url: '/stories/projectAllowedSprintStories/' + project_id,
                        method: 'GET',
                        data:{sprint_id:sprint_id}
                    }).done(function (res) {
                        var stories = [];
                        $("#sprint_stories").children().remove();
                        for(const sto of res){
                            var story_obj = JSON.parse(JSON.stringify(sto));
                            stories.push(story_obj);
                            $("#sprint_stories").append(new Option(story_obj.name, story_obj.id));
                        }
                    });
                });

                $("#sprint_stories").change(function () {
                    var estTime_sum     = sum_stories_time();
                    var sprint_velocity = $("#velocity").val();

                    if(estTime_sum > parseInt(sprint_velocity)){
                        alert("Stories take too much time for the sprint velocity of " + sprint_velocity);
                        $("#sprint_stories").val('').trigger('change')
                    }
                    // console.log("sum time "  + estTime_sum );
                    // console.log("velocity: " + sprint_velocity);
                });

                $("#velocity").change(function () {
                    var estTime_sum     = sum_stories_time();
                    var sprint_velocity = parseInt($("#velocity").val());

                    if(sprint_velocity < estTime_sum){
                        $("#velocity").val(estTime_sum);
                    }

                });


            });
        })

